html,
body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#map {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    /* padding: 5px; */
    margin: 5px;
    /* background-color: #fff; */
}

#info {
    position: absolute;
    right: 0;
    /* left: 70%; */
    top: 120px;
    /* bottom: 0; */
    margin: 5px 5px 5px 0;
    border: dotted #2d56dd;
    background-color: #ccf8d1;
    z-index: 400;
    height: 300px;
    overflow-y: auto;
    width: 250px;
}

.info {
    padding: 6px 8px;
    font: 10px/12px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

#slideDiv{
    position: absolute;
    left: 0;
    bottom: 10px;
    margin: 5px 5px 5px 0;
    z-index: 400;
    text-align: center;
}

/* #icon {
    height: 100px;
} */
.btn-home {
    z-index: 50;
}

.popupCustom .leaflet-popup-content-wrapper {
    background: #2A3E56;
    color: #fff;
    font-size: 10px;
    line-height: 0;
    border-radius: 0px;
    /* font-family: 'TheFrench', sans-serif; */
}

.popupCustom .leaflet-popup-content-wrapper a {
    color: #3A3845;
}

.popupCustom .leaflet-popup-tip-container {
    width: 125px;
    height: 15px;
}

.popupCustom .leaflet-popup-tip {
    background: transparent;
    border: none;
    box-shadow: none;
}

.leaflet-bar.disabled,
.leaflet-bar button.disabled {
    opacity: 0;
    border: none;
}

.g-icon {
    width: 20px;
    height: 41px;
}

.g-icon .g-icon-i {
    color: rgb(233, 233, 233);
    font-size: 18px;
    top: 7px;
    left: 3px;
    position: absolute;
}

.g-icon .g-icon-i-l {
    color: rgb(233, 233, 233);
    top: 18%;
    left: 24%;
    position: absolute;
    text-align: center;
}

.g-circle {
    width: 16px;
    height: 16px;
    background: rgba(255, 255, 255, .9);
    border-radius: 50%;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
}

.spacer {
    height: 20px;
    clear: both;
    width: 100%;
}

.legend {
    text-align: left;
    line-height: 18px;
    color: rgb(62, 62, 62);
    background-color: rgba(255, 255, 255, .5);
    padding: 10px;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 1;
}


/*Wraperclass for the divicon*/
/*Wraperclass for the divicon -----------------------------------------------------------*/

.label-tooltip {
    background-color: rgba(255, 255, 255,0);
    border: none;
    box-shadow: none;
    color: black;
    padding: 2px 4px;
}

.map-label {
    position: absolute;
    bottom: 0;
    left: -50%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/*Wrap the content of the divicon (text) in this class*/
.map-label-content {
    order: 1;
    position: relative;
    left: -50%;
    background-color: #fff;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: #444;
    padding: 3px;
    white-space: nowrap;
}

/*Add this arrow*/
.map-label-arrow {
    order: 2;
    width: 0px;
    height: 0px;
    left: 50%;
    border-style: solid;
    border-color: #444 transparent transparent transparent;
    border-width: 10px 6px 0 6px;
    /*[first number is height, second/fourth are rigth/left width]*/
    margin-left: -6px;
}

/*Instance classes*/
.map-label.inactive {
    opacity: 0.5;
}

.map-label.redborder>.map-label-content {
    border-color: #e00;
}

.map-label.redborder>.map-label-arrow {
    border-top-color: #e00;
}

.map-label.redbackground>.map-label-content {
    white-space: default;
    color: #fff;
    background-color: #e00;
}